
:host {
  display: inline-block;
  font-size: var(--font-size);
  color: #fff;
  border: none;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
}

:host([action]) {
  background-color: var(--action-color);
}
:host([action]:hover) {
  background-color: var(--action-hover-color);
}

:host([action2]) {
  background-color: var(--action2-color);
}
:host([action2]:hover) {
  background-color: var(--action2-hover-color);
}

:host([fullWidth=true]) {
  display: block;
}

:host([disabled]) {
  background-color: var(--input-disabled-color);
  cursor: default;
}
:host([disabled]:hover) {
  background-color: var(--input-disabled-color);
}

button {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  cursor: inherit;
  outline: 0;
}